.mainHeader {
  min-height: 100vh;
}

.wrapperOverview {
  margin-top: 25px;
  color: #494c62;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.buttonFavorite {
  margin-top: 10px;
  border: 2px solid #ff0079;
  background: #ffffff;
  color: #ff0079;
  font-family: Source Sans Pro;
  border-radius: 3px;
  font-style: normal;
  width: 250px;
  font-size: 15px;
}

.buttonFavorite.active {
  background: #ff0079;
  color: #ffffff;
}

.wrapperImg {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.wrapperText {
  position: absolute;
  color: red;
  z-index: 1;
  bottom: 15px;
  white-space: nowrap;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #babbc3;
}

.wrapperImgLogo {
  margin: 0px;
  padding: 0px;
}

.imgLogo {
  margin-top: 25px;
  width: 250px;
  height: 300px;
}

.topImg {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.originalTitle {
  position: absolute;
  bottom: 10px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.genresFilms {
  position: absolute;
  bottom: -17px;
  left: 50px;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.releaseDate {
  position: absolute;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  bottom: -17px;
  color: #babbc3;
}

.iconInButton {
  margin-left: 7px;
}

.wrapperSelectedItem {
  min-height: 100vh;
}
