.wrapperSelectedMovieHeader {
  display: flex;
}

.topPoster {
  position: relative;
  display: flex;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.topPosterGradient {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 100px;
  margin-bottom: auto;
}

.infoMovie {
  margin-top: auto;
}

.originalTitle {
  position: absolute;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 45px;
  bottom: 30px;
}

.releaseDate {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #babbc3;
}

.genres {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #babbc3;
}
.info {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
}

.btnSelectedMovie {
  margin: 15px 25px 25px 25px;
}

.buttonFavorite {
  width: 250px;
  border: 2px solid #ff0079;
  background: #ffffff;
  color: #ff0079;
  font-family: Source Sans Pro;
  border-radius: 3px;
  font-style: normal;
  font-size: 15px;
}

.buttonFavorite.active {
  background: #ff0079;
  color: #ffffff;
}

.posterMovie {
  width: 250px;
  margin: 15px 10px 0px 25px;
}

.wrapperOverview {
  margin-top: 10px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 414px) {
  .originalTitle {
    font-size: 20px;
    bottom: 80px;
  }

  .posterMovie {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .info {
    text-align: center;
    flex-direction: column;
  }

  .wrapperOverview {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 320px) {
  .originalTitle {
    font-size: 20px;
    bottom: 80px;
  }

  .posterMovie {
    margin: auto;
    margin-top: 25px;
  }
}
