.wrapperMovie {
  width: 340px;
  height: 480px;
  background: #ffffff;
  margin: 10px;
  position: relative;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
}

.imgPoster {
  width: 340px;
  height: 400px;
}

.infoMovie {
  padding: 10px;
}

.titleName {
  font-family: Source Sans Pro;
  width: 60%;
  color: #494c62;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.genresMovie {
  color: #babbc3;
  width: 60%;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Source Sans Pro;
}

.gradiend {
  position: absolute;
  bottom: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 8e-5) 100%);
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 100%;
  height: 100px;
}

.voteAverage {
  position: absolute;
  margin: auto;
  right: 25px;
  bottom: 20px;
  font-family: Source Sans Pro;
  font-weight: 600;
  border: 2px solid #ff0079;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ff0079;
}

.textVoteAverage {
  padding: 0px 15px 0px 15px;
  line-height: 35px;
}

.releaseDateMovieList {
  position: absolute;
  bottom: 90px;
  left: 30px;
  color: #babbc3;
  font-family: Source Sans Pro;
}

@media (max-width: 414px) {
  .wrapperMovie {
    width: 300px;
    height: 470px;
    margin: auto;
    margin-bottom: 15px;
  }

  .gradiend {
    bottom: 90px;
  }

  .imgPoster {
    width: 300px;
    height: 380px;
  }

  .voteAverage {
    bottom: 30px;
  }
}
@media (width: 411px) {
  .wrapperMovie {
    width: 300px;
    height: 470px;
    margin: auto;
    margin-bottom: 15px;
  }

  .imgPoster {
    width: 300px;
    height: 380px;
  }
}

@media (max-width: 320px) {
  .wrapperMovie {
    width: 300px;
    height: 470px;
  }

  .imgPoster {
    width: 300px;
    height: 380px;
  }

  .voteAverage {
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .wrapperMovie {
    width: 280px;
  }
  .imgPoster {
    width: 280px;
  }
}
