.footer {
  height: 150px;
  position: relative;
  background: #ffffff;
}

.footerLogo {
  top: 20px;
  left: 80px;
  font-size: 25px;
  color: #494c62;
  position: absolute;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.designedName {
  font-size: 14px;
  position: absolute;
  color: #80818a;
  font-family: Source Sans Pro;
  left: 80px;
  mix-blend-mode: normal;
  opacity: 0.5;
  top: 80px;
}

.underscore {
  position: absolute;
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #babbc3;
  top: 65px;
  left: 80px;
  width: 91%;
}

.infoLinks {
  position: absolute;
  right: 80px;
  top: 25px;
}

.infoLink {
  padding: 15px;
  color: #80818a;
  font-family: Source Sans Pro;
}

.footerImgLinks {
  position: absolute;
  right: 80px;
  top: 80px;
}

.imgLink {
  color: #babbc3;
  padding: 5px;
}

@media (max-width: 411px) {
  .footerLogo {
    left: 100px;
  }
  .infoLinks {
    top: 55px;
    right: 60px;
  }
  .underscore {
    width: 100%;
    left: 0;
    top: 80px;
  }
  .designedName {
    top: 120px;
  }

  .footerImgLinks {
    top: 80px;
    right: 69px;
  }

  .imgLink {
    padding: 30px;
  }
}

@media (max-width: 360px) {
  .footerLogo {
    left: 85px;
  }
  .infoLinks {
    top: 55px;
    right: 25px;
  }
  .underscore {
    width: 100%;
    left: 0;
    top: 80px;
  }
  .designedName {
    top: 110px;
    font-size: 13px;
  }

  .footerImgLinks {
    top: 80px;
    right: 25px;
  }

  .imgLink {
    padding: 30px;
  }
}
