.footer {
  background: #ffffff;
  height: 250px;
  position: relative;
}

.footerWrapper {
  justify-content: space-between;
  display: flex;
  padding-top: 30px;
}

.footerLogo {
  font-family: Source Sans Pro;
  color: #494c62;
  font-size: 30px;
  line-height: 38px;
  padding-left: 80px;
  text-transform: uppercase;
}

.linksText {
  padding-right: 80px;
  align-self: flex-end;
}

.link {
  color: #80818a;
  padding-left: 50px;
  font-size: 15px;
  line-height: 25px;
  font-family: Source Sans Pro;
}

.underscore {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 92%;
  height: 1px;
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #babbc3;
}

.imgLinks {
  padding-top: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.imgLink {
  padding-left: 20px;
  color: #babbc3;
}

.desigend {
  font-family: Source Sans Pro;
  font-size: 15px;
  color: #80818a;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-left: 80px;
}

@media (max-width: 414px) {
  .footerWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .underscore {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .footerLogo {
    font-size: 20px;
    padding: 0px;
  }

  .linksText {
    align-items: center;
    justify-content: center;
  }
  .link {
    padding-left: 15px;
  }

  .imgLinks {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }

  .desigend {
    font-size: 10px;
    padding-left: 0px;
  }

  .imgLink {
    padding-left: 0px;
  }
}
